
.skwll-container *{font-family: 'Open Sans', sans-serif;}
.font-open-sans{font-family: 'Open Sans', sans-serif}
.uk-panel.uk-panel-box {
    background-color: #ffffff;
}
.uk-panel h3.uk-panel-title {
    background-color: #e2e2e2;

    padding: 4px 8px;
}
.skwll-small-hints{color: #8e8e8d}
.skwll-chzn-select{width:100%;}
.ui-selectmenu-area {
    position:relative;
}
.ui-selectmenu-list  {
    list-style:none;
    list-style-position:outside;
    padding:0px;
    margin:0px;
    position:absolute;
    overflow-y:auto;
    text-align:left;
    display:block;
    visibility:hidden;
}
.ui-selectmenu-list ul {
    list-style:none;
    list-style-position:outside;	
    padding:0px;
    margin:0px;
}
.ui-selectmenu-list li {
    border:transparent 1px solid;
}

.ui-selectmenu-list li:not(.group) {
    padding:3px;
    cursor:pointer;
}
.ui-selectmenu-list li.group li {
    padding-left:10px;
}


/* change to however you want it to look like */
.ui-selectmenu-list .ui-widget-header { 
    padding:3px;
    font-variant:small-caps;
    padding-left:2px;
    margin-bottom:1px;		 
}
.skwll-container input:not(.skwll-prevent-css){border: 1px solid #ccc;width: 100%}
.skwll-margin-top-none{margin-top: 0}
.skwll-display-none{display: none}
.skwll-margin-bottom-none{margin-bottom: 0}
.skwll-margin-bottom-none-force{margin-bottom: 0 !important}
.skwll-widgets-margin-bottom{margin-bottom: 10px !important}